.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background: aqua;
    width: 40%;
    height: 250px;
    border: 2px solid;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100px;
    height: 30px;
}